$borderProps: solid black 1px;
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
  color: green;
  .portfolio-picture-panel {
    border: $borderProps;
    padding-left: 50%;
  }
  .portfolio-flex-main-panel {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    .portfolio-main-panel-child {
      margin: 5px;
      .header {
        background-color: whitesmoke;
        padding: 10px;
        font-weight: bold;
        font-size: 15pt;
        // text-align: center;
      }
      .body {
        color: black;
        padding: 10px;
        background-color: white;
        text-align: justify;
        text-justify: inter-word;
      }
    }
    .summary {
      max-width: 800px;
    }
    .work-exp {
      .body {
        max-width: 1553px;
      }
    }
    .education {
      .ed-body {
        display: table;
        border-collapse: separate;
        border-spacing: 15px;
        .ed-body-row {
          display: table-row;
        }
        .ed-body-cell {
          display: table-cell;
          vertical-align: top;
        }
        .ed-content-text {
          padding-top: 5px;
        }
        img {
          width: 300px;
          height: 100px;
        }
        .itcarlow {
          width: 300px;
          height: 150px;
        }
      }
    }
  }
}